.form {
  background: rgba(255, 255, 255, 0.3);
  padding: 1em;
  height: auto;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}
.button {
  margin: 10px;
}
.input {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: transparent;
  width: 200px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-radius: 5000px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;

  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
.label {
  font-weight: bold;
}
.create_new,
create_new:hover {
  font-weight: bold;

  text-align: center;
  cursor: pointer;
}
.container {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  background-size: cover;

  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
}
